@use 'bootstrap';

/*variables*/
$brandColor : #0282F9;

body{
    font-family: 'Montserrat', sans-serif;
}

// header////////////////////////////////////////////

// mini header blue 
.blue_header{
    padding: .3rem 0;
    font-size: .5rem;
    font-weight: bold;
}
// header con navbar 
.navbar_header{
    padding: 1rem 0;
    height: 6rem;
    // logo 
    .logo{
        width: 4rem;
        img{
            width: 100%;
        }
    }
    // testo link 
    nav{
        div{
            height: 6rem;
            vertical-align: middle;
            line-height: 6rem;
            &:hover{
                border-bottom:solid 2px $brandColor;
            }
            &:hover a{
                color: $brandColor;
            }
            a{
                text-decoration: none;
                color: black;
                margin: 0 1rem;
                font-size: .7rem;
                font-weight: bold;
            }
            i{
                color: $brandColor;
            }
        }
    }
    // input
    input{
        border: none;
        border-bottom: 2px solid $brandColor;
        text-align: end;
        width: 8rem;
    }
}


// utility
.brand_bk{
    background-color: $brandColor;
    color: white;
}